* {
  box-sizing: border-box;
}

body {
  width: 50%;
  margin: auto;
  font-size: 24px;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
#taskInput {
  display: block;
  margin: auto;
  padding: 1em;
  width: 80%;
}

.collapsed {
  margin-bottom: 1rem;
}

.collapsed ul {
  display: none;
}

.collapsed li {
  margin-bottom: 1rem;
}

p {
  border-bottom: 1px solid rgba(1, 1, 1, 0.3);
  border-left: 1px solid rgba(1, 1, 1, 0.3);
  border-right: 1px solid rgba(1, 1, 1, 0.3);
  border-top: 1px solid rgba(1, 1, 1, 0.3);

  border-radius: 0 0 3px 0px;
  margin: 0;
  margin-bottom: 0.1rem;
  padding: 10px 10px 10px 0;
  box-shadow: 0 7px 1px -5px rgba(1, 1, 1, 0.1);
}

ul {
  list-style-type: none;
  margin-bottom: 0.5em;
  padding-left: 2rem;
}

li {
  font-size: 85%;
  margin-bottom: 0.5rem;
}