* {
  box-sizing: border-box;
}

body {
  width: 50%;
  margin: auto;
  font-size: 24px;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.collapsed {
  margin-bottom: 1rem;
}

.collapsed ul {
  display: none;
}

.collapsed li {
  margin-bottom: 1rem;
}

p {
  border-bottom: 1px solid rgba(1, 1, 1, 0.3);
  border-radius: 3px;
  margin: 0;
  padding: 15px 15px 15px 0;
  box-shadow: 0 5px 2px -3px rgba(1, 1, 1, 0.2);
}

ul {
  list-style-type: none;
  margin-bottom: 0.5em;
  padding-left: 2rem;
}

li {
  font-size: 85%;
}